@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  background: linear-gradient(to bottom, #ffb8fb, #afffda); /* pink-200 and lime-200 */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
a:hover {
  background: linear-gradient(to bottom, #ea47ff, #53ff8c); /* pink-200 and lime-200 */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Fira Code', monospace;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  text-align: left;
}

.text-pink-lime-gradient {
  background: linear-gradient(to bottom, #ffb4fb, #c0ffb4); /* pink-200 and lime-200 */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hover-gradient-text {
  background: linear-gradient(to right, #fbcfe8, #a7f3d0);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  transition: all 0.3s ease;
}


.hover-gradient-text:hover {
  background: linear-gradient(to right, #fbcfe8, #a7f3d0); /* pink-200 to lime-200 */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold; /* Ensure bold stays on hover */
  -webkit-font-smoothing: antialiased; /* Ensure smoothing on hover */
  text-rendering: optimizeLegibility; /* Improve legibility on hover */
}

button {
  border-radius: 8px;
  border: 1px solid #636363;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: #000000;
  cursor: pointer;
  transition: border-color 0.25s;
  outline: none;
}
button:hover {
  border-color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
